
/* 초기화 */
* { margin: 0; padding: 0; }

#web {
    margin: 0 auto; font-family: 'EliceDigitalBaeum_Bold';;
}

h1 {
    font-family: 'WooridaumB';
}

.container {
    margin: 10px auto;
    overflow: hidden;
    height: 250px;
    clear: both;
}

.mat9 {
    padding: 20px 30px; line-height: 60px;
}

/* 고정바 */
.campus {
    margin: 0 auto;
    left: 0px; top:0px; right:0px;
    text-align: center;
    overflow: hidden;
    background-color: white;
    
    
}
/*
.color1 {color: #2a2900;}
.color2 {color: #325e21;}
.color3 {color: #ff563e;}
.color4 {color: #ffc051;}
.color5 {color: #ffff90;}
*/

/*
.color1 {color: #142007;}
.color2 {color: #0f5842;}
.color3 {color: #ff6708;}
.color4 {color: #ffdb47;}
.color5 {color: #fffba3;}
*/

.campus_type {
    margin: 0 auto;
 

}

/* 종류 선택 ul */
.campus li  {

    margin: 0 auto;              
    padding: 20px 30px;
    

    list-style: none;
    display: inline-block;

}

.campus li:hover {
    border-bottom: 3px solid #ff563e;

}



/* 보락생 파란색 제거 */
.campus a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 60px;
    display: block;
}

h1 {
    margin: 10px auto;
}

.navigation {
    position: fixed;
    top: 0px;
    box-shadow: 0 0 3px 0 rgba(128, 29, 0, 0.30);
    z-index: 999;
    
}

.chicken {  
    
    font-size: 20px;
   
}

.contents {
    width: auto;
    margin: 40px auto;
    text-align: center;
    
}

.mid  {
    
    margin: 10px auto;
    display: inline-block;
}


.titles {
    
    font-size: 40px;
    margin: 40px auto;
}


@media screen and (max-width: 937px) {
    .campus li  {
        display: block;
    }
    .mid {
        display: block;
    }
    .container {
        height: 800px;
    }

}

@font-face {
    font-family: 'SuseongDotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}